version: 2.1

setup: true


orbs:
  dynamic: bjd2385/dynamic-continuation@3.7.1
  general: premiscale/general@1.2.8
  slack: circleci/slack@4.12.5


workflows:
  gitlabci-lint:
    jobs:
      - dynamic/continue:
          context: orb-publishing

      - slack/on-hold:
          context: slack
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^v?[0-9]+\.[0-9]+\.[0-9]+$/

      - request-approval:
          requires:
            - slack/on-hold
          type: approval
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^v?[0-9]+\.[0-9]+\.[0-9]+$/

      - general/github-release:
          name: Create GitHub release from tag
          context:
            - github
            - orb-publishing
          requires:
            - request-approval
          github-organization: $CIRCLE_PROJECT_USERNAME
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^v?[0-9]+\.[0-9]+\.[0-9]+$/

      - general/python-release-poetry:
          name: gitlabci-lint upload [python]
          context: nexus
          repository: python
          requires:
            - request-approval
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^v?[0-9]+\.[0-9]+\.[0-9]+$/

      - general/python-release-poetry:
          name: pypi gitlabci-lint upload [pypi]
          context: pypi
          repository: pypi
          username: $PYPI_USERNAME
          password: $API_TOKEN
          requires:
            - request-approval
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^v?[0-9]+\.[0-9]+\.[0-9]+$/