version: 2.1

orbs:
  general: premiscale/general@1.0.9


executors:
  python3-10:
    docker:
      - image: cimg/python:3.12.4

  python3-9:
    docker:
      - image: cimg/python:3.12.4

  python3-8:
    docker:
      - image: cimg/python:3.12.4


workflows:
  src:
    jobs:
      - general/python-pylint:
          name: pylint
          modules_path: src/
          context: nexus

      - general/python-mypy:
          name: mypy [<< matrix.executor >>]
          configuration_file: pyproject.toml
          mypy-args: >-
            --ignore-missing-imports --install-types --non-interactive
          matrix:
            parameters:
              executor:
                - python3-10
                - python3-9
                - python3-8
            alias: mypy

      # develop

      - general/python-release-poetry:
          name: twine upload [python-develop]
          context: nexus
          repository: python-develop
          version: 0.0.<< pipeline.number >>
          pypirc-config: .pypirc
          requires:
            - pylint
            - mypy
          filters:
            branches:
              ignore:
                - main

      # master

      - general/python-release-poetry:
          name: twine upload [python-master]
          context: pypi
          repository: python-master
          version: 0.0.<< pipeline.number >>
          pypirc-config: .pypirc
          requires:
            - pylint
            - mypy
          filters:
            branches:
              only:
                - main