version: 2.1


executors:
  python3-10:
    docker:
      - image: cimg/python:3.12.7


jobs:
  test-bats:
    executor: python3-10
    resource_class: small
    parameters:
      executable:
        type: string
        description: Location of the executable to run tests.
        default: ./scripts/tests.sh
    steps:
      - checkout
      - run:
          name: Install development package
          command: |
            pip install --upgrade poetry
            poetry install
            poetry run gitlabci-lint --version
      - run:
          name: Run bats tests
          command: |
            sudo apt update && sudo apt install -y bats
            << parameters.executable >>


workflows:
  tests:
    jobs:
      - test-bats:
          context: gitlab